<!DOCTIME html>
<html lang="ja">
<title>ログイン画面</title>
<head>
    <meta charset="utf-8">
    <title>ログイン画面</title>
</head>
<body>
    <form action="/login" method="POST">
        <p>ユーザーID<br>
        <input type="text" name="userid" placeholder="userid"></p>
        <p>パスワード<br>
        <input type="text" name="password" placeholder="password"></p>
        <button type="submit">ログイン</button>
    </form>
    <form action="/create" method="GET">
        <button type="submit">ユーザー新規作成</button>
    </form>
</body>
</html>